<div class="container__menu-bar">
    <ul>
      <i class="fa-brands fa-github"></i>
      <li>
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        <a href="https://www.linkedin.com/in/lucasmazevedo/">Linkedin</a></li>
      <li><span>•</span></li>
      <li>
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
        <a href="https://github.com/lucasmazevedo">Github</a></li>
      <li><span>•</span></li>
      <li>
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        <a href="https://www.instagram.com/azevedolucas__/">Instagram</a></li>
    </ul>
  </div>